// colors
$primary: #256f64;
$main: #161718;
$black: #000;
$white: #fff;
$blueGradient:  linear-gradient(90deg, #70C6CC 0%, #A284DD 100%);
$orangeGradient: linear-gradient(90deg, #CCB870 0%, #DD7C58 100%);
$roseGradient: linear-gradient(90deg, #F5576C 0%, #F375B4 100%);
$blue: #a284dd;
$orange: #dd7c58;
$rose: #f375b4;
// fonts
$arial: "Arial Black", sans-serif;
